# PulseMarket — Data Exploration

## Objective
Understand the structure, quality, and issues of raw data before cleaning or transforming it.

## Datasets
- orders.csv
- order_items.csv
- customers.csv
- sellers.csv

In [45]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [9]:
orders = pd.read_csv("../data/raw/orders.csv")
order_items = pd.read_csv("../data/raw/order_items.csv")
customers = pd.read_csv("../data/raw/customers.csv")
sellers =  pd.read_csv("../data/raw/sellers.csv")

In [41]:
# Tamaño y sentido del dataset
orders.shape, order_items.shape, customers.shape, sellers.shape

((500, 5), (1200, 5), (200, 3), (50, 3))

In [42]:
# Tipos de datos (primer detector de errores)
orders.info

<bound method DataFrame.info of      order_id  order_date  customer_id order_status channel
0           1  2023-06-29          103    COMPLETED  Mobile
1           2  2022-01-24          180    completed     web
2           3  2023-12-19           93     refunded  Mobile
3           4  2024-01-21           15     canceled     WEB
4           5  2022-11-20          107     canceled  mobile
..        ...         ...          ...          ...     ...
495       496  2023-06-25           48    COMPLETED     WEB
496       497  2023-01-13           89    Completed  mobile
497       498  2022-12-27          117    completed  mobile
498       499  2023-07-01          129    completed  Mobile
499       500  2023-07-14           16    Completed  Mobile

[500 rows x 5 columns]>

In [23]:
display(orders.head())
display(order_items.head())

   order_id  order_date  customer_id order_status channel
0         1  2023-06-29          103    COMPLETED  Mobile
1         2  2022-01-24          180    completed     web
2         3  2023-12-19           93     refunded  Mobile
3         4  2024-01-21           15     canceled     WEB
4         5  2022-11-20          107     canceled  mobile

   order_id  product_id  seller_id  quantity  unit_price
0       189         199         34        -1           0
1       487         140          8        10          50
2       192         137         21        -1          20
3       447         133         34         3          10
4        69         116          4      1000          -5

In [46]:
# Valores únicos (detecta inconsistencias)
orders['order_status'].value_counts()
orders['channel'].value_counts()

order_status
completed    101
refunded      84
Completed     84
COMPLETED     82
cancelled     81
canceled      68
Name: count, dtype: int64

channel
web       129
mobile    129
WEB       123
Mobile    119
Name: count, dtype: int64

In [ ]:
# Evaluación de Fechas
orders["order_date"].sort_values().head()
orders["order_date"].sort_values().tail()

50     2021-12-05
41     2021-12-06
19     2021-12-06
330    2021-12-06
228    2021-12-07
Name: order_date, dtype: object

247    2024-06-15
132    2024-06-16
157    2024-06-17
405    2024-06-18
472    2024-06-19
Name: order_date, dtype: object

In [48]:
# Exploración de datos quantity, price
order_items.describe()

          order_id   product_id    seller_id     quantity   unit_price
count  1200.000000  1200.000000  1200.000000  1200.000000  1200.000000
mean    247.657500   148.731667    25.894167   136.172500    27.966667
std     143.759756    28.965217    14.278522   338.977294    35.921547
min       1.000000   100.000000     1.000000    -1.000000    -5.000000
25%     126.000000   124.000000    14.000000     1.000000     0.000000
50%     247.000000   147.000000    26.000000     3.000000    10.000000
75%     371.000000   174.000000    38.000000    10.000000    50.000000
max     500.000000   199.000000    50.000000  1000.000000   100.000000

In [49]:
# ¿Todas las órdenes tienen items?
order_items["order_id"].nunique(), orders["order_id"].nunique()

(449, 500)

In [50]:
# Explorando Clientes
customers.info()
customers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  200 non-null    int64
 1   signup_date  200 non-null    object
 2   country      200 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.8+ KB

   customer_id signup_date   country
0            1  2021-12-23     Chile
1            2  2021-07-26       col
2            3  2023-03-02      Peru
3            4  2022-09-23       col
4            5  2022-11-07  Colombia

In [51]:
customers["signup_date"].sort_values().tail()

162    2023-02-10
174    2023-02-11
52     2023-02-16
152    2023-02-26
2      2023-03-02
Name: signup_date, dtype: object

In [53]:
# Sellers y comisiones
sellers["commission_rate"].describe()

count    50.000000
mean      0.400000
std       0.705807
min      -0.200000
25%      -0.200000
50%       0.100000
75%       1.500000
max       1.500000
Name: commission_rate, dtype: float64

## Key Data Issues Identified

### Orders
- Inconsistent order_status values
- Future and unrealistic order dates
- Channel values not standardized

### Order Items
- Negative and extreme quantities
- Invalid unit prices

### Customers
- Signup dates after purchase dates
- Country values inconsistent

### Sellers
- Commission rates outside valid range (0–1)