In [7]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
DATA_STAGING = "../data/staging"

orders = pd.read_csv(f"{DATA_STAGING}/orders_validated.csv")
order_items = pd.read_csv(f"{DATA_STAGING}/order_items_validated.csv")
sellers = pd.read_csv(f"{DATA_STAGING}/sellers_validated.csv")

In [17]:
orders.head()
order_items.head()
sellers.head()

,order_id,order_date,customer_id,order_status,channel,valid_status,valid_order_date
0,1,2023-06-29,103,COMPLETED,Mobile,True,True
1,2,2022-01-24,180,completed,web,True,True
2,3,2023-12-19,93,refunded,Mobile,False,True
3,4,2024-01-21,15,canceled,WEB,False,True
4,5,2022-11-20,107,canceled,mobile,False,True

,order_id,product_id,seller_id,quantity,unit_price,valida_quantity,validate_price
0,189,199,34,-1,0,False,False
1,487,140,8,10,50,True,True
2,192,137,21,-1,20,False,True
3,447,133,34,3,10,True,True
4,69,116,4,1000,-5,False,False

   seller_id seller_name  commission_rate  valid_comission
0          1    Seller_1              0.1             True
1          2    Seller_2              1.5            False
2          3    Seller_3             -0.2            False
3          4    Seller_4             -0.2            False
4          5    Seller_5              1.5            False

In [15]:
orders[["valid_status", "valid_order_date"]].mean()
order_items[["valida_quantity", "validate_price"]].mean()

valid_status        0.534
valid_order_date    1.000
dtype: float64

valida_quantity    0.7300
validate_price     0.6425
dtype: float64

In [18]:
sellers["valid_comission"].value_counts(normalize=True)

valid_comission
False    0.6
True     0.4
Name: proportion, dtype: float64